<div class="aDivBody3">

    <div class="aTitle1">Proveedores</div>

    <div class="aTitle2">Crear Proveedor</div>

    <div class="aDivForm">

        <form action="/data/<%= data.idBrunch %>/create-supplier" method="POST">

            <div class="aDivInputEdit">
                <label for="supplierName" class="aLabelEdit1" >Proveedor</label>
                <input type="text" name="supplierName" class="aInput3">
            </div>

            <div class="aDivInputEdit">
                <label for="supplierBusinessName" class="aLabelEdit1" >Razón social</label>
                <input type="text" name="supplierBusinessName" class="aInput3">
            </div>

            <div class="aDivInputEdit">
                <label for="supplierAddress" class="aLabelEdit1" >Domicilio</label>
                <textarea name="supplierAddress" class="aInput3"></textarea>
            </div>

            <div class="aDivInputEdit">
                <label for="selectCountry" class="aLabelEdit1" >País</label>
                <select name="selectCountry" class="aSelect1">
                    <option value="default" selected>
                        ---Seleccione un país---
                    </option>
                    <% data.countries.forEach(country => { %>
                        <option value="<%= country.id %>"><%= country.country %></option>
                    <% }) %>
                </select>
            </div>

            <div class="aDivInputEdit">
                <label for="selectCurrency" class="aLabelEdit1" >País</label>
                <select name="selectCurrency" class="aSelect1">
                    <option value="default" selected>
                        ---Seleccione una moneda---
                    </option>
                    <% data.brunchCurrencies.forEach(currency => { %>
                        <option value="<%= currency.currency_exchange_currency.id %>">
                            <%= currency.currency_exchange_currency.currency %>
                        </option>
                    <% }) %>
                </select>
            </div>
    
            <div class="aDivButtonsEdit">
                <button type="submit" class="aButton2">Guardar</button>
                <a href="/data/<%= data.idBrunch %>/suppliers/">
                    <div class="aButton2">Cancelar</div>
                </a>
            </div>    
        </form>
    </div>
    
</div>