<%- include('../../partials/head') %>
<%- include('../../partials/userLogged') %>
<%- include('../../partials/header') %>

<div class="aDivBody3">

    <div class="aTitle1">Proveedores</div>

    <div class="aTitle2">Editar Proveedor</div>

    <div class="aDivForm">

        <form action="/data/<%= data.idBrunch %>/edit-supplier/<%= supplier.id %>" method="POST">

            <div class="aDivInputEdit">
                <label for="supplierName" class="aLabelEdit1" >Proveedor</label>
                <input type="text" name="supplierName" class="aInput3" value="<%= supplier.supplier %>">
            </div>

            <div class="aDivInputEdit">
                <label for="supplierBusinessName" class="aLabelEdit1" >Razón social</label>
                <input type="text" name="supplierBusinessName" class="aInput3" value="<%= supplier.business_name %>">
            </div>

            <div class="aDivInputEdit">
                <label for="supplierAddress" class="aLabelEdit1" >Domicilio</label>
                <textarea name="supplierAddress" class="aInput3"><%= supplier.address %></textarea>
            </div>

            <div class="aDivInputEdit">
                <label for="selectCountry" class="aLabelEdit1" >País</label>
                <select name="selectCountry" class="aSelect1">
                    <% data.countries.forEach(country => { %>
                        <option value="<%= country.id %>" <%= country.id == supplier.id_countries ? 'selected' : null %>>
                            <%= country.country %>
                        </option>
                    <% }) %>
                </select>
            </div>            

            <div class="aDivInputEdit">
                <label for="selectCurrency" class="aLabelEdit1" >Moneda</label>
                <select name="selectCurrency" class="aSelect1">
                    <% data.brunchCurrencies.forEach(currency => { %>
                        <option value="<%= currency.currency_exchange_currency.id %>" <%= currency.currency_exchange_currency.id == supplier.id_currencies ? 'selected' : null %>>
                            <%= currency.currency_exchange_currency.currency %>
                        </option>
                    <% }) %>
                </select>
            </div>
    
            <div class="aDivButtonsEdit">
                <button type="submit" class="aButton2">Guardar</button>
                <a href="/data/<%= data.idBrunch %>/suppliers/">
                    <div class="aButton2">Cancelar</div>
                </a>
            </div>

        </form>
    </div>

    
</div>