<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="mainTitle">
    <div class="titleL">Proveedores</div>
</div>

<div class="content">

    <div class="divTable">
        <table>

            <thead>
                <tr>
                    <th class="theadXL thLeftBorder thTall thData" id="create">
                        Proveedor
                        <i class="fa-regular fa-square-plus newSupplier"></i>
                    </th>
                    <th class="theadXXL thTall">Razón social</th>
                    <th class="theadXXL thTall">Domicilio</th>
                    <th class="theadL thTall">Pais</th>
                    <th class="theadM thTall">Moneda</th>
                    <th class="theadM thTall">Costeo</th>
                    <th class="theadS thRightBorder thTall"><i class="fa-regular fa-pen-to-square"></i></th>
                </tr>
            </thead>

            <tbody>
                <% for( let i = 0; i < data.suppliers.length; i++ ) { %>
                    <tr>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.suppliers[i].supplier %></th>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.suppliers[i].business_name %></th>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.suppliers[i].address %></th>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.suppliers[i].supplier_country.country %></th>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.suppliers[i].supplier_currency.currency %></th>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.suppliers[i].cost_calculation %></th>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>" id="<%= 'edit_' +data.suppliers[i].id %>">
                                <i class="fa-regular fa-pen-to-square thIcon1"></i>
                        </th>
                    </tr>
                <% } %>
            </tbody>

        </table>
    </div>

</div>

<%- include('./createEditSupplier') %>
<script type="module" src="/js/suppliers.js"></script>






