<%- include('../partials/head') %>
<%- include('../partials/userLogged') %>
<%- include('../partials/header') %>

<div class="aNotVisible" id="idBrunch"><%= data.idBrunch %></div>
<div class="aNotVisible" id="idSupplier"><%= supplier.id %></div>
<div class="aNotVisible" id="process"><%= process %></div>

<div class="aDivBody3">
    <div class="aTitle1"><%= title %></div>
    <div class="aTitle2"><%= supplier.supplier  %></div>

    <div class="aDivForm">
        <form action="/imports/<%= data.idBrunch %>/create-purchase-order/<%= supplier.id %>" method="POST">

            <div class="poData">
                <div class="aDivInputEdit">
                    <input type="text" name="purchaseOrder" id="purchaseOrder" class="aInput2" value="<%= purchaseOrder %>" <%= process == 'edit' ? 'readonly' : null %>>
                </div>
            </div>
            <div class="aDivError1" id="divErrorPoNumber"></div>

            <div class="divActionsCreatePo">
                <div class="divActionCreatePo">
                    <i class="fa-regular fa-floppy-disk saveDisk" id="savePo"></i>
                </div>
                <a href="/imports/<%= data.idBrunch %>/imports-data">
                    <div class="divActionCreatePo">
                        <i class="fa-solid fa-xmark saveDisk"></i>
                    </div>
                </a>
            </div>

            <% if (process == 'edit') { %>
                <div class="poData poTotalData">
                    <div class="divPoData firstPoData" id="divPoFob"><b>FOB:</b> <%= poData.purchase_order_currency.currency + ' ' + parseFloat(poData.total_fob,2) %></div>
                    <div class="divPoData" id="divPoBoxes"><b>Cajas: </b><%= parseFloat(poData.total_boxes,2) %></div>
                    <div class="divPoData" id="divPoVolume"><b>Volumen:</b> <%= parseFloat(poData.total_volume_m3,2) + ' m3' %></div>
                    <div class="divPoData lastPoData" id="divPoWeight"><b>Peso:</b> <%= parseFloat(poData.total_weight_kg,2) + ' kg' %> </div>
                </div>
                <% } else { %>
                    <div class="poData poTotalData">
                        <div class="divPoData firstPoData" id="divPoFob"><b>FOB:</b> <%= supplier.supplier_currency.currency %> 0.00</div>
                        <div class="divPoData" id="divPoBoxes"><b>Cajas:</b> 0</div>
                        <div class="divPoData" id="divPoVolume"><b>Volumen:</b> 0 m3</div>
                        <div class="divPoData lastPoData" id="divPoWeight"><b>Peso:</b> 0 kg</div>
                    </div>
            <% } %>

            

            <div class="aDivTable1">

                <table class="aTable1">
                    <thead>
                        <tr>
                            <th class="aTh3">Item <i class="fa-regular fa-plus aAdd1" id="addItem"></i></th>
                            <th class="aTh3">Descripción</th>
                            <th class="aTh3 aTh4">Cantidad (UM)</th>
                            <th class="aTh3">UM</th>
                            <th class="aTh3 aTh4 aTh8">Precio UM (<%= supplier.supplier_currency.currency %>)</th>
                            <th class="aTh3 aTh4">UM por caja</th>
                            <th class="aTh3 aTh6">Volumen por caja (m3)</th>
                            <th class="aTh3 aTh5">Peso por caja (kg)</th>
                            <th class="aTh3">Cajas</th>
                            <th class="aTh3 aTh8">Importe total (<%= supplier.supplier_currency.currency %>)</th>
                            <th class="aTh3 aTh5">Volumen total (m3)</th>
                            <th class="aTh3 aTh5">Peso total (kg)</th>
                            <th class="aTh3"><i class="fa-regular fa-pen-to-square aEdit2"></i></th>
                            <th class="aTh3"><i class="fa-regular fa-trash-can aEdit2"></i></th>
                        </tr>
                    </thead>
                    <tbody id="body"></tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<!---Add Item popup--->
<div class="cConfirmPopup" id="addPopup">
    <div class="cConfirmContent">
        <div class="cConfirmTitle" id="selectText">Seleccione un producto</div>
        <div class="cDivInputs" id="selectInputs">
            <select name="selectItem" id="item" class="aSelect3">
                <option value="default" selected>Item</option>
                <% supplierItems.forEach(item => { %>
                    <option value="<%= item.id %>"><%= item.item %></option>
                <% }) %>
            </select>
            <div class="aDivError1" id="divErrorSelect"></div>
        </div>
        <div class="cDivInputs" id="selectInputs">
            <input type="text" placeholder="Cantidad (UM)" class="aInput2" id="quantity">
        </div>
        <div class="aDivError1" id="divErrorQty"></div>
        <div class="cDivButtons">
            <div class="cConfirmButtons" id="confirmAddButton">Aceptar</div>
            <div class="cConfirmButtons" id="cancelAddButton">Cancelar</div>
        </div>
    </div>
</div>

<!---Delete Item popup--->
<div class="cConfirmPopup" id="deletePopup">
    <div class="cConfirmContent">
        <div class="cDivInputsDelete" id="deleteInput">
            <input type="text" id="rowToDelete" class="aNotVisible">
            <div>Confirma que desea eliminar el siguiente ítem? </div>
            <div><input type="text" id="itemToDeleteInput" class="cDeleteInput"></div>
        </div>
        <div class="cDivButtons">
            <div class="cConfirmButtons" id="confirmDeleteButton">Aceptar</div>
            <div class="cConfirmButtons" id="cancelDeleteButton">Cancelar</div>
        </div>
    </div>
</div>

<!---Edit popup--->
<div class="cConfirmPopup" id="editPopup">
    <div class="cConfirmContent">
        <div class="cEditTitle" id="selectText">Editar datos</div>
        <input type="text" id="rowToEdit" class="aNotVisible">
        
        <div class="cDivInputsEdit" id="selectInputs">
            <label for="editInputItem" class="cLabelEditItem"><b>Item:</b></label>
            <input type="text" name ="editInputItem" class="aInput5" id="editInputItem" readonly disabled>
        </div>
        <div class="cDivInputsEdit" id="selectInputs">
            <label for="editInputItem" class="cLabelEditItem"><b>Cantidad:</b></label>
            <input type="text" class="aInput2" name ="editInputValue" id="editInputQuantity">
        </div>
        <div class="aDivError1" id="divErrorItemQty"></div>

        <div class="cDivInputsEdit" id="selectInputs">
            <label for="editInputItem" class="cLabelEditItem"><b>FOB:</b></label>
            <input type="text" class="aInput2" name ="editInputValue" id="editInputFob">
        </div>
        <div class="aDivError1" id="divErrorItemFob"></div>
        
        <div class="cDivButtons">
            <div class="cConfirmButtons" id="confirmEditButton">Aceptar</div>
            <div class="cConfirmButtons" id="cancelEditButton">Cancelar</div>
        </div>
    </div>
</div>

<!---Confirm popup--->
<div class="cConfirmPopup" id="confirmPopup">
    <div class="cConfirmContent">
        <div class="cConfirmText" id="confirmText"></div>
        <div class="cDivButtons">
            <div class="cConfirmButtons" id="confirmButton">Confirmar</div>
            <div class="cConfirmButtons" id="cancelConfirmButton">Cancelar</div>
        </div>
    </div>
</div>



<script type="module" src="/js/createPo.js"></script>









