<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="mainTitle">
    IMPORTACIONES
</div>

<div class="content">
    <!------------FILTERS------------>
    <div class="divImportFilters">
        
        <div class="divInput">

            <label for="selectSupplier" class="label2">Proveedor</label>
            <select name="selectSupplier" id="filterSupplier" class="input1 il spm">
                <option value="default"></option>
                <% data.suppliers.forEach(supplier => { %>
                    <option value="<%= supplier.id %>">
                        <%= supplier.supplier %>
                    </option>
                <% }) %>
            </select>
        </div>

        <div class="divInput">

            <label for="year" class="label2">Año</label>
            <input type="text" name="year" class="input1 is ipm" id="filterYear">

        </div>

        <div class="divInput">

            <label for="purchaseOrder" class="label2">Nº de OC</label>
            <input type="text" name ="purchaseOrder" class="input1 is ipm" id="filterPurchaseOrder">

        </div>

        <div class="divInput">

            <label for="item" class="label2">Item</label>
            <input type="text" name="item" class="input1 im ipm" id="filterItem">

        </div>

        <div class="filterAction">
            <i class="fa-solid fa-filter-circle-xmark" id="unfilterPo"></i>
        </div>

    </div>

    <div class="divFiltersData">
        <div id="totalFilteredFob"></div>
        <div id="totalFilteredQty"></div>
    </div>

    <!------------IMPORTS TABLE------------>
    <div class="divTable">
        <table>
            <thead>
                <tr>
                    <th class="theadM thPo thLeftBorder">
                        OC
                        <i class="fa-regular fa-square-plus newPo" id="createPo"></i>
                    </th>
                    <th class="theadL">Proveedor</th>
                    <th class="theadM">Fecha</th>
                    <th class="theadM">FOB</th>
                    <th class="theadM">Moneda</th>
                    <th class="theadM">Volumen (m3)</th>
                    <th class="theadM">Cajas</th>
                    <th class="theadM">Fecha de recepción</th>
                    <th class="theadM">Costo sobre el FOB</th>
                    <th class="theadM">Costo real vs estimado</th>
                    <th class="theadL">Estado</th>
                    <th class="theadXS"><i class="fa-regular fa-pen-to-square"></i></th>
                    <th class="theadXS"><i class="fa-regular fa-file-excel"></i></th>
                    <th class="theadXS"><i class="fa-solid fa-truck-ramp-box"></i></th>
                    <th class="theadXS"><i class="fa-solid fa-circle-info"></i></i></th>
                    <th class="theadXS thRightBorder"><i class="fa-solid fa-xmark"></i></th>
                </tr>
            </thead>
    
            <tbody id="tBody"></tbody>
            
        </table>
    </div>
</div>

<!----------LOADER---------->
<div class="loader midLoader" id="loader"></div>

<!----------POPUPS---------->
<%- include('../imports/createEditPo') %>
<%- include('../imports/receiveImport') %>
<%- include('../imports/importDetails') %>
<%- include('../popups/yesNoPopup') %>
<%- include('../popups/infoPopup') %>

<!----------SCRIPTS---------->
<script type="module" src="/js/imports.js"></script>








