<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="mainTitle">
    <div class="titleL">Seleccione un pais</div>
</div>

<div class="content">

    <div class="divBrunches">
        <% data.brunches.forEach(brunch => { %>
            <a href="/imports/<%= brunch.id %>/imports-data">
                <div class="divBrunch">
                    <div><%= brunch.brunch %></div>
                    <img src="/images/<%= brunch.brunch.toLowerCase() %>.jpg" class="brunchLogo" alt="logo">
                </div>
            </a>            
        <% }) %>
    </div>

</div>

