<div class="header">

    <div class="topHeader">
        <div class="divHeaderCompanyLogo">
            <img src="/images/companyLogo.jpg" alt="Multibrand" class="headerCompanyLogo">
        </div>

        <div class="divHeaderTitle">
                <div class="headerTitle">COMEX</div>
        </div>

        <div class="divUserLogged">
            <% if (locals.userLogged) { %>

                <div class="userLogged">
                    <i class="fa-regular fa-user iconUser"></i>
                    <div class="userLoggedName">
                        <%= userLogged.first_name + ' ' + userLogged.last_name %>
                        <div class=""><a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
                    </div>
                </div>

            <% } %>
        </div>

    </div>

    <div class="bottomHeader">

        <% if (locals.brunchData) { %>

            <div class="itemsMenu" id="itemsMenu1">
                <div class="itemHeaderMenu" id="itemMenu1">Datos generales</div>
                <div class="subItems" id="subItems1">
                    <a href="/data/<%= brunchData.id %>/volume-factors" class="subitemHeaderMenu">Factores por volumen</a>
                    <a href="/data/<%= brunchData.id %>/coeficient-factors" class="subitemHeaderMenu">Factores por coeficiente</a>
                    <a href="/data/<%= brunchData.id %>/prices-lists/0" class="subitemHeaderMenu">Listas de precios</a>
                    <a href="/data/<%= brunchData.id %>/currencies" class="subitemHeaderMenu">Monedas</a>
                    <a href="/data/<%= brunchData.id %>/suppliers" class="subitemHeaderMenu">Proveedores</a>
                    <a href="/data/<%= brunchData.id %>/measurement-units" class="subitemHeaderMenu">Unidades de medida</a>                    
                </div>
            </div>

            <div class="itemsMenu" id="itemsMenu2">
                <a href="/imports/<%= brunchData.id %>/imports-data" class="subitemHeaderMenu">Importaciones</a>
            </div>

            <div class="itemsMenu" id="itemsMenu3">
                <div class="itemHeaderMenu" id="itemMenu3">Estadísticas</div>
                <div class="subItems" id="subItems3">
                    <a href="/statistics/<%= brunchData.id %>/import-history" class="subitemHeaderMenu">Importaciones</a>
                    <a href="/statistics/<%= brunchData.id %>/prices-and-costs" class="subitemHeaderMenu">Precios y costos</a>                   
                </div>
            </div>

            <% if (locals.userLogged && (userLogged.id_users_categories == 1 || userLogged.id_users_categories == 2)) { %>
                <div class="itemsMenu" id="itemsMenu4">
                    <a href="/users/<%= brunchData.id %>/users" class="itemHeaderMenu">Usuarios</a>
                </div>
            <% } %>

            <div class="divBrunchHeader">
                <div class="divFlexBrunch"><%= brunchData.brunch.toUpperCase() %></div>
                <div class="divFlexBrunch"><img src="/images/<%= brunchData.brunch.toLowerCase() %>.jpg" class="imgBrunchHeader" alt="country-flag"></div>
                <a href="/select-brunch/">
                    <div class="divFlexBrunch">
                        <i class="fa-solid fa-pencil edit1"></i>
                    </div>
                </a>
            </div>
        <% } %>

    </div>

</div>

<% if (locals.brunchData) { %>
    <div class="notVisible" id="idBrunch"><%= brunchData.id %></div>
    <div class="notVisible" id="brunchName"><%= brunchData.brunch %></div>
<% } %>


<script type="module" src="/js/header.js"></script>







