<div class="header">

    <div class="topHeader">
        <div class="divHeaderCompanyLogo">
            <img src="/images/companyLogo.jpg" alt="Multibrand" class="headerCompanyLogo">
        </div>

        <div class="divHeaderTitle">
                <div class="headerTitle">COMEX</div>
        </div>

        <div class="divUserLogged">
            <% if (locals.userLogged) { %>

                <div class="userLogged">
                    <i class="fa-regular fa-user iconUser"></i>
                    <div class="userLoggedName">
                        <%= userLogged.first_name + ' ' + userLogged.last_name %>
                        <div class=""><a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
                    </div>
                </div>

            <% } %>
        </div>

    </div>

    <div class="bottomHeader">

        <% if (locals.selectedItem) { %>

            <div class="itemsMenu" id="itemsMenu2">
                <a href="/imports/<%= data.brunchData.id %>" class="itemHeaderMenu <%= selectedItem == 'imports' ? 'fwb' : '' %>">Importaciones</a>
            </div>

            <div class="itemsMenu" id="itemsMenu5">
                <a href="/costings/<%= data.brunchData.id %>" class="<%= data.changes.length > 0 ? 'itemHeaderMenuError' : 'itemHeaderMenu' %><%= selectedItem == 'costings' ? ' fwb' : '' %>" id="itemsMenu5Text">Costos estimados</a>
            </div>

            <!-- <div class="itemsMenu" id="itemsMenu5">
                <a href="/sale-prices/<%= data.brunchData.id %>" class="<%= data.changes.length > 0 ? 'itemHeaderMenuError' : 'itemHeaderMenu' %><%= selectedItem == 'salePrices' ? ' fwb' : '' %>" id="itemsMenu6Text">Precios de venta</a>
            </div> -->

            <div class="itemsMenu" id="itemsMenu1">
                <div class="itemHeaderMenu <%= selectedItem == 'data' ? ' fwb' : '' %>" id="itemMenu1">Datos generales</div>
                <div class="subItems" id="subItems1">
                    <a href="/data/volume-factors/<%= data.brunchData.id %>" class="subitemHeaderMenu">Factores por volumen</a>
                    <a href="/data/coeficient-factors/<%= data.brunchData.id %>" class="subitemHeaderMenu">Factores por coeficiente</a>
                    <a href="/data/prices-lists/<%= data.brunchData.id %>" class="subitemHeaderMenu">Listas de precios</a>
                    <a href="/data/currencies/<%= data.brunchData.id %>" class="subitemHeaderMenu">Monedas</a>
                    <a href="/data/suppliers/<%= data.brunchData.id %>" class="subitemHeaderMenu">Proveedores</a>
                    <a href="/data/measurement-units/<%= data.brunchData.id %>" class="subitemHeaderMenu">Unidades de medida</a>                    
                </div>
            </div>

            <div class="divBrunchHeader">
                <div class="divFlexBrunch"><%= data.brunchData.brunch.toUpperCase() %></div>
                <div class="divFlexBrunch"><img src="/images/<%= data.brunchData.brunch.toLowerCase() %>.jpg" class="imgBrunchHeader" alt="country-flag"></div>
                <a href="/select-brunch/">
                    <div class="divFlexBrunch">
                        <i class="fa-solid fa-pencil edit1"></i>
                    </div>
                </a>
            </div>
        <% } %>

    </div>

</div>

<% if (locals.selectedItem) { %>
    <div class="notVisible" id="idBrunch"><%= data.brunchData.id %></div>
    <div class="notVisible" id="brunchName"><%= data.brunchData.brunch %></div>
<% } %>


<script type="module" src="/js/header.js"></script>







