<%- include('../partials/head') %>
<%- include('../partials/userLogged') %>
<%- include('../partials/header') %>

<% if (locals.successMessage) { %>
    <script>
        alertify.success('OC Creada con éxito');
    </script>
<% } %>

<div class="aDivBody">

    <div class="aTitle">Crear orden de compra</div>

    <form action="/pos/<%= data.idBrunch %>/create-purchase-order" method="POST">

        <div class="dDivSelect">
            <select name="selectSupplier" class="dSelect <%= locals.errors && errors.selectSupplier ? 'isInvalid' : null %>">
                <option value="default" selected>--Seleccione un proveedor--</option>
                <% data.suppliers.forEach(supplier => { %>
                    <option value="<%= supplier.id %>" <%= locals.oldData && oldData.selectSupplier == supplier.supplier ? 'selected' : null %>>
                        <%= supplier.supplier %>
                    </option>
                <% }) %>
            </select>
        </div>

        <div class="dDivTable">
            <table class="dTable">
                <thead>
                    <tr>
                        <th class="dTableTitle">Item</th>
                        <th class="dTableTitle">Description</th>
                        <th class="dTableTitle">Item Qty</th>
                        <th class="dTableTitle">MU</th>
                        <th class="dTableTitle">Cartons</th>
                        <th class="dTableTitle">Currency</th>
                        <th class="dTableTitle">Unit price</th>
                        <th class="dTableTitle">Extended price</th>
                        <th class="dTableTitle">Unit volume</th>
                        <th class="dTableTitle">Extended volume</th>
                    </tr>
                </thead>
                <tbody id="dTbody">
                               
                </tbody>
            </table>
        </div>

        

        <div class="bDivInput">
            <button type="submit" class="bButton">Crear</button>
        </div>
    </form>
</div>