<%- include('../../partials/head') %>
<%- include('../../partials/userLogged') %>
<%- include('../../partials/header') %>

<div class="divBody2">

    <div class="aTitle1">Listas de precios</div>

    <div class="aTitle2">Crear Item</div>

    <div class="aDivForm">
        <form action="/data/<%= data.idBrunch %>/create-item" method="POST">

            <div class="divInput5">
                <div class="inputData5">
                    <label for="supplier" class="aLabelEdit1" >Proveedor</label>
                    <input type="text" name="supplier" class="input5 inputUnabled" id="supplier" value="<%= supplier.supplier %>" readonly>
                </div>
                <div class="inputError5"><div class="error5"></div></div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="item" class="aLabelEdit1">Item</label>
                    <input type="text" name="item" id="item" class="input5 <%= locals.errors && errors.item ? 'aIsInvalid' : ' ' %>" value="<%= locals.oldData ? oldData.item : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.item) { %>
                            <%= errors.item.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="description" class="aLabelEdit1">Descripción</label>
                    <input type="text" name="description" class="input5 <%= locals.errors && errors.description ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.description : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.description) { %>
                            <%= errors.description.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="fob" class="aLabelEdit1">Precio por UM</label>
                    <input type="text" name="fob" class="input5 <%= locals.errors && errors.fob ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.fob : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.fob) { %>
                            <%= errors.fob.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="selectMU" class="aLabelEdit1" >Unidad de medida</label>
                    <select name="selectMU" class="input5 inputWidth5 <%= locals.errors && errors.selectMU ? 'aIsInvalid' : null %>">
                        <option value="default" selected>Seleccione una opción</option>
                        <% data.mu.forEach(measUnit => { %>
                            <option value="<%= measUnit.id %>" <%= locals.oldData && oldData.selectMU ==  measUnit.id ? 'selected' : null %>>
                                <%= measUnit.measurement_unit %>
                            </option>
                        <% }) %>
                    </select>
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.selectMU) { %>
                            <%= errors.selectMU.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="muPerBox" class="aLabelEdit1">UM por caja</label>
                    <input type="text" name="muPerBox" class="input5 <%= locals.errors && errors.muPerBox ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.muPerBox : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.muPerBox) { %>
                            <%= errors.muPerBox.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="weight" class="aLabelEdit1">Peso por caja (kg)</label>
                    <input type="text" name="weight" class="input5 <%= locals.errors && errors.weight ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.weight : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.weight) { %>
                            <%= errors.weight.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="volume" class="aLabelEdit1">Volumen por caja (m3)</label>
                    <input type="text" name="volume" class="input5 <%= locals.errors && errors.volume ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.volume : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.volume) { %>
                            <%= errors.volume.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="brand" class="aLabelEdit1">Marca</label>
                    <input type="text" name="brand" class="input5 <%= locals.errors && errors.brand ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.brand : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.brand) { %>
                            <%= errors.brand.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="origin" class="aLabelEdit1">Origen</label>
                    <input type="text" name="origin" class="input5 <%= locals.errors && errors.origin ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.origin : null %>" >
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.origin) { %>
                            <%= errors.origin.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="selectCostCalc" class="aLabelEdit1" >Cálculo del costo</label>
                    <select name="selectCostCalc" class="input5 inputWidth5 <%= locals.errors && errors.selectCostCalc ? 'aIsInvalid' : null %>">
                        <option value="default" selected>Seleccione una opción</option>
                        <option value="Precio" <%= locals.oldData && oldData.selectCostCalc ==  "Precio" ? 'selected' : null %>>Precio</option>
                        <option value="Volumen" <%= locals.oldData && oldData.selectCostCalc ==  "Volumen" ? 'selected' : null %>>Volumen</option>
                    </select>
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.selectCostCalc) { %>
                            <%= errors.selectCostCalc.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="divInput5">
                <div class="inputData5">
                    <label for="hasBreaks" class="aLabelEdit1" >Considera roturas</label>
                    <select name="hasBreaks" class="input5 inputWidth5 <%= locals.errors && errors.hasBreaks ? 'aIsInvalid' : null %>">
                        <option value="default" selected>Seleccione una opción</option>
                        <option value="si" <%= locals.oldData && oldData.hasBreaks ==  "Precio" ? 'selected' : null %>>si</option>
                        <option value="no" <%= locals.oldData && oldData.hasBreaks ==  "Volumen" ? 'selected' : null %>>no</option>
                    </select>
                </div>
                <div class="inputError5">
                    <div class="error5">
                        <% if (locals.errors && errors.hasBreaks) { %>
                            <%= errors.hasBreaks.msg %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="aDivButtonsEdit">
                <div class="aButton2" id="saveButton">Guardar</div>
                <a href="/data/<%= data.idBrunch %>/prices-lists/<%= supplier.id %>">
                    <div class="aButton2">Cancelar</div>
                </a>
            </div>

            <!---Confirm popum-->
            <div class="cConfirmPopup" id="confirmPopup">
                <div class="cConfirmContent">
                    <div class="cConfirmText" id="confirmText"></div>
                    <div class="divButtons3">
                        <button type="submit" class="button3" id="confirmButton">Confirmar</button>
                        <div class="button3" id="cancelButton">Cancelar</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="module" src="/js/createItem.js"></script>