<div class="sidePopup" id="popup">

    <div class="notVisible" id="idBrunch"><%= data.idBrunch %></div>

    <div class="divClosePopup">
        <div class="closePopup plClosePopup" id="close">X</div>
    </div>

    <div class="titleM" id="title"></div>

    <form action="/data/<%= data.idBrunch %>/create-edit-item" method="POST">

        <div class="popupContent plPopupContent">

            <div class="divInput">
                <label for="supplierName" class="label" id="supplierNameLabel">Proveedor</label>
                <input type="text" name="supplierName" class="input1 XL" id="supplierName" readonly>
                <div class="divError XL"></div>
            </div>
            
            <div class="divInput">
                <label for="item" class="label" id="itemLabel">Item</label>
                <input type="text" name="item" class="input1 XL" id="item">
                <div class="divError XL" id="itemErrorText"></div>
            </div>

            <div class="divInput">
                <label for="description" class="label" id="descriptionLabel">Descripción</label>
                <input type="text" name="description" class="input1 XL" id="description">
                <div class="divError XL" id="descriptionErrorText"></div>
            </div>

            <div class="divInput">
                <label for="fob" class="label" id="fobLabel">Precio por UM</label>
                <input type="text" name="fob" class="input1 XL" id="fob">
                <div class="divError XL" id="fobErrorText"></div>
            </div>

            <div class="divInput">
                <label for="selectMU" class="label" id="selectMULabel">Unidad de medida</label>
                <select name="selectMU" class="input1 XL" id="selectMU">
                    <option value="default" id="defaultOption0" selected></option>
                    <% data.mu.forEach(measUnit => { %>
                        <option value="<%= measUnit.id %>" id="<%= 'mu_' + measUnit.id %>">
                            <%= measUnit.measurement_unit %>
                        </option>
                    <% }) %>
                </select>
                <div class="divError XL" id="selectMUErrorText"></div>
            </div>

            <div class="divInput">
                <label for="muPerBox" class="label" id="muPerBoxLabel">UM por caja</label>
                <input type="text" name="muPerBox" class="input1 XL" id="muPerBox">
                <div class="divError XL" id="muPerBoxErrorText"></div>
            </div>

            <div class="divInput">
                <label for="weight" class="label" id="weightLabel">Peso por caja (kg)</label>
                <input type="text" name="weight" class="input1 XL" id="weight">
                <div class="divError XL" id="weightErrorText"></div>
            </div>

            <div class="divInput">
                <label for="volume" class="label" id="volumeLabel">Volumen por caja (m3)</label>
                <input type="text" name="volume" class="input1 XL" id="volume">
                <div class="divError XL" id="volumeErrorText"></div>
            </div>

            <div class="divInput">
                <label for="brand" class="label" id="brandLabel">Marca</label>
                <input type="text" name="brand" class="input1 XL" id="brand">
                <div class="divError XL" id="brandErrorText"></div>
            </div>

            <div class="divInput">
                <label for="origin" class="label" id="originLabel">Origen</label>
                <input type="text" name="origin" class="input1 XL" id="origin">
                <div class="divError XL" id="originErrorText"></div>
            </div>

            <div class="divInput">
                <label for="hasBreaks" class="label" id="hasBreaksLabel">Considera roturas</label>
                <select name="hasBreaks" class="input1 XL" id="hasBreaks">
                    <option value="default" id="defaultOption1" selected></option>
                    <option value="Si" id="hasBreaks_1">Si</option>
                    <option value="No" id="hasBreaks_0">No</option>
                </select>
                <div class="divError XL" id="hasBreaksErrorText"></div>
            </div>

            <div class="divButtonsColumn plDivButtons">
                <button type="submit" class="button1 mButton" id="acceptCreate">Guardar</button>
            </div>

        </div>

    </form>

</div>