<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="mainTitle">
    <div class="titleL">Unidades de medida</div>
</div>

<div class="content">

    <div class="divTable">
        <table>
            <thead>
                <tr>
                    <th class="theadXL thLeftBorder thTall thData" id="create">
                        Unidad de medida
                        <i class="fa-regular fa-square-plus newMU"></i>
                    </th>
                    <th class="theadL thTall thRightBorder">Unidades por UM</th>
                </tr>
            </thead>

            <tbody>
                <% for( let i = 0; i < data.mus.length; i++ ) { %>
                    <tr>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.mus[i].measurement_unit %></th>
                        <th class="tBody1 <%= i%2 == 0 ? 'tBodyEven' : 'tBodyOdd' %>"><%= data.mus[i].units_per_um %></th>                        
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
</div>

<%- include('./createMU') %>
<script type="module" src="/js/measurementUnits.js"></script>