<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="notVisible" id="idBrunch"><%= data.idBrunch %></div>

<div class="mainTitle">
    <div class="titleL">Historial de importaciones recibidas</div>
</div>

<div class="content">
    
    <div class="divStatistics">

        <div class="divStatistic">

            <div class="titleM mtM mbL">Resumen por proveedor</div>

            <!------------FILTERS------------>
            <div class="divInputsRow">
                
                <div class="divInput">
                    <label for="selectSupplier" class="labelA">Proveedor</label>
                    <select name="selectSupplier" id="filterSupplier1" class="inputA wL">
                        <option value="default"></option>
                        <% data.suppliers.forEach(supplier => { %>
                            <option value="<%= supplier.id %>">
                                <%= supplier.supplier %>
                            </option>
                        <% }) %>
                    </select>
                </div>

                <div class="divInput">
                    <label for="year" class="labelA">A침o</label>
                    <input type="text" name="year" class="inputA wS" id="filterYear1">
                </div>

                <div class="filterAction">
                    <i class="fa-solid fa-filter-circle-xmark" id="deleteFilters1"></i>
                </div>

            </div>

            <div class="divFiltersData">
                <div id="totalFob1"></div>
                <div id="totalQty1"></div>
            </div>

            <!------------TABLE------------>
            <div class="divTable">
                <table>
                    <thead>
                        <tr>
                            <th class="theadXL thTall thLeftBorder">Proveedor</th>
                            <th class="theadM thTall">FOB</th>
                            <th class="theadS thTall thRightBorder">Moneda</th>                         
                        </tr>
                    </thead>
                    <tbody id="importsBody1">
                        
                    </tbody>
                </table>
            </div>    
        </div>

        <div class="divStatistic">

            <div class="titleM mtM mbL">Detalle de importaciones</div>

            <!------------FILTERS------------>
            <div class="divImportFilters">
                
                <div class="divInput">

                    <label for="selectSupplier" class="labelA">Proveedor</label>
                    <select name="selectSupplier" id="filterSupplier2" class="inputA wL">
                        <option value="default"></option>
                        <% data.suppliers.forEach(supplier => { %>
                            <option value="<%= supplier.id %>">
                                <%= supplier.supplier %>
                            </option>
                        <% }) %>
                    </select>

                </div>

                <div class="divInput">
                    <label for="year" class="labelA">A침o</label>
                    <input type="text" name="year" class="inputA wS" id="filterYear2">
                </div>

                <div class="filterAction">
                    <i class="fa-solid fa-filter-circle-xmark" id="deleteFilters2"></i>
                </div>

            </div>

            <div class="divFiltersData">
                <div id="totalFob2"></div>
                <div id="totalQty2"></div>
            </div>

            <!------------TABLE------------>
            <div class="divTable">
                <table>
                    <thead>
                        <tr>
                            <th class="theadM thTall thLeftBorder">Importaci칩n</th>
                            <th class="theadM thTall">Recepci칩n</th>
                            <th class="theadXL thTall">Proveedor</th>
                            <th class="theadM thTall">FOB</th>
                            <th class="theadS thTall">Moneda</th>
                            <th class="theadS thTall thRightBorder">Costo %</th>                            
                        </tr>
                    </thead>
                    <tbody id="importsBody2">
                        
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
</div>

<script type="module" src="/js/importHistory.js"></script>