<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<% if (locals.changePasswordMessage) { %>
    <script>
        alertify.warning('Debe cambiar la contrase単a');
    </script>
<% } %>

<div class="divBody1">

    <h1 class="title3">COMEX</h3>

    <h3 class="title1">Cambio de contrase単a</h3>

    <form action="/change-password" method="POST">

        <div class="divInputs1">

            <input type="text" name="userName" placeholder="Usuario" class="input1 inputUnabled" value="<%= userToLogin.user_name %>" readonly>
            <div class="aDivError1"></div>

            <input type="password" name="password" placeholder="Contrase単a" class="input1 <%= locals.errors && errors.password ? 'aIsInvalid' : null %>" >
            <div class="aDivError1">
                <% if (locals.errors && errors.password) { %>
                    <%= errors.password.msg %>
                <% } %>
            </div>

            <input type="password" name="confirmPassword" placeholder="Reingrese contrase単a" class="input1 <%= locals.errors && errors.confirmPassword ? 'aIsInvalid' : null %>" >
            <div class="aDivError1">
                <% if (locals.errors && errors.confirmPassword) { %>
                    <%= errors.confirmPassword.msg %>
                <% } %>
            </div>

            <div class="divButtons2">
                <button type="submit" class="button2">Ingresar</button>
            </div>

        </div>
    </form>
</div>














