<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="mainTitle">
    <div class="titleL">Debe cambiar su contraseña</div>
</div>

<div class="content">

    <form action="/change-password" method="POST">

        <div class="divInputsChangePsw">

            <div class="divInput">
                <label for="userName" class="label">Usuario</label>
                <input type="text" name="userName" class="input1 XXL" value="<%= userToLogin.user_name %>" readonly>
                <div class="divError XL"></div>
            </div>
        
            <div class="divInput">
                <label for="password" class="label <%= locals.errors && errors.password ? 'errorColor' : null %>">Contraseña</label>
                <input type="password" name="password" class="input1 XXL <%= locals.errors && errors.password ? 'isInvalid' : null %>" value="<%= userToLogin.user_name %>">
                <div class="divError XL">
                    <% if (locals.errors && errors.password) { %>
                        <%= errors.password.msg %>
                    <% } %>
                </div>
            </div>
        
            <div class="divInput">
                <label for="confirmPassword" class="label <%= locals.errors && errors.confirmPassword ? 'errorColor' : null %>">Reingrese contraseña</label>
                <input type="password" name="confirmPassword" class="input1 XXL <%= locals.errors && errors.confirmPassword ? 'isInvalid' : null %>" value="<%= userToLogin.user_name %>">
                <div class="divError XL">
                    <% if (locals.errors && errors.confirmPassword) { %>
                        <%= errors.confirmPassword.msg %>
                    <% } %>
                </div>
            </div>
        
            <div class="divButtonsRow">
                <button type="submit" class="button1 mButton">Aceptar</button>
            </div>

        </div>

        
    
    </form>

</div>
















