<%- include('../partials/head') %>
<%- include('../partials/userLogged') %>
<%- include('../partials/header') %>

<div class="aDivBody3">

    <div class="title1">Usuarios</div>

    <div class="title2">Editar Usuario</div>

    <div class="aDivForm">

        <form action="/users/<%= data.idBrunch %>/edit-user/<%= userToEdit.id %>" method="POST">
            
            
            <div class="divInput2">
                <div class="inputData2">
                    <label for="userName" class="aLabelEdit1">Usuario</label>
                    <input type="text" name="userName" class="input2 inputUnabled" value="<%=userToEdit.user_name %>" readonly>
                </div>
                <div class="inputError2">
                    <div class="error2"></div>
                </div>
            </div>
            
            <div class="divInput2">
                <div class="inputData2">
                    <label for="firstName" class="aLabelEdit1">Nombre</label>
                    <input type="text" name="firstName" class="input2 <%= locals.errors && errors.firstName ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.firstName : userToEdit.first_name %>" >
                </div>
                <div class="inputError2">
                    <div class="error2">
                        <% if (locals.errors && errors.firstName) { %>
                            <%= errors.firstName.msg %>
                        <% } %>
                    </div>
                </div>
            </div>            
            
            <div class="divInput2">
                <div class="inputData2">
                    <label for="lastName" class="aLabelEdit1">Apellido</label>
                    <input type="text" name="lastName" class="input2 <%= locals.errors && errors.lastName ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.lastName : userToEdit.last_name %>" >
                </div>
                <div class="inputError2">
                    <div class="error2">
                        <% if (locals.errors && errors.lastName) { %>
                            <%= errors.lastName.msg %>
                        <% } %>
                    </div>
                </div>
            </div>            

            <div class="divInput2">
                <div class="inputData2">
                    <label for="email" class="aLabelEdit1">Email</label>
                    <input type="text" name="email" class="input2 <%= locals.errors && errors.email ? 'aIsInvalid' : null %>" value="<%= locals.oldData ? oldData.email : userToEdit.email %>" >
                </div>
                <div class="inputError2">
                    <div class="error2">
                        <% if (locals.errors && errors.email) { %>
                            <%= errors.email.msg %>
                        <% } %>
                    </div>
                </div>
            </div>        

            <div class="divInput2">
                <div class="inputData2">
                    <label for="userCategory" class="aLabelEdit1">Perfil</label>
                    <select name="userCategory" class="input2 inputWidth2">
                        <% data.usersCategories.forEach(category => { %>
                            <option value="<%= category.id %>" <%= (locals.oldData && oldData.email == category.id) || (userToEdit.id_users_categories == category.id) ? 'selected' : null %> >
                                <%= category.category_name %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </div>

            
    
            <div class="divButtons1">
                <button type="submit" class="aButton2">Guardar</button>
                <a href="/users/<%= data.idBrunch %>/users/">
                    <div class="aButton2">Cancelar</div>
                </a>
            </div>

        </form>
    </div>

    
</div>